/* index.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure content fills the viewport height */
}

.language-switcher {
  display: flex;
  gap: 10px; /* Add spacing between buttons */
  margin-bottom: 20px;
}

.language-switcher button {
  padding: 8px 15px;
}

.carousel-container {
  width: 40%;
  margin: 20px auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Center horizontally within the container */
  align-items: center; /* Center vertically within the container */
  min-height: 110px; /* Or set a specific height if you know it */
  margin-bottom: 10px;
}


.carousel-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the entire container */
}

/* Media Queries for Responsiveness (add more as needed) */
@media (max-width: 768px) {
  .language-switcher {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }
  .language-switcher button {
    width: 100%; /* Make buttons full-width on smaller screens */
  }
}
